*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
}
body{
    background-image: url("Components/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
}